<% content_for :title do %>
	Select categories
<% end %>

<%= render 'shared/search-bar' %>
<div id="content">
		<div class="wrapper">
			<h2>Welcome <%= @user.first_name.capitalize %>!</h2>
			<div class="dashboard">
				<h2 class="title">Select product categories for your Garage Sale</h2>
				<%= simple_form_for(@listing) do |f| %>
				  <%= f.association :type, label: "<p><strong>What kind of items are you selling?</strong> Select all product categories that applies.</p>", as: :check_boxes%>
				  <%= f.input :garage_id, as: :hidden, input_html: { value:@garage.id } %>
				  <%= f.button :submit, "Save selection", :class => "btn" %>
				<% end %>
				<!-- <form class="form_new" action="/listings" method="post" id="new_listing">
					<div class="question">
						<div>
							<p><input type="checkbox" name="type" value="1" /> Antiques</p>
							<p><input type="checkbox" name="type" value="2" /> Clothes</p>
							<p><input type="checkbox" name="type" value="3" /> Kitchenware</p>
							<p><input type="checkbox" name="type" value="4" /> Tools</p>
							<p><input type="checkbox" name="type" value="5" /> Appliances</p>
							<p><input type="checkbox" name="type" value="6" /> Electronics</p>
							<p><input type="checkbox" name="type" value="7" /> Kids stuff</p>
							<p><input type="checkbox" name="type" value="8" /> Automotive</p>
							<p><input type="checkbox" name="type" value="9" /> Furniture</p>
							<p><input type="checkbox" name="type" value="10" /> Lawn/Garden</p>
							<p><input type="checkbox" name="type" value="11" /> Books/Media</p>
							<p><input type="checkbox" name="type" value="12" /> Jewelry</p>
							<p><input type="checkbox" name="type" value="13" /> Sporting goods</p>
							<p><input type="checkbox" name="type" value="14" /> Pet supplies</p>
						</div>
					</div>
					<div class="clear"></div>
					<div class="question">
						<div>
							<input type="hidden" name="action" value="new" />
							<input class="btn" type="submit" value="Save categories" />
						</div>
					</div>
				</form> -->
				<div class="clear"></div>
			</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>	